[Desktop Entry]
Name=CPUset
Name[ast]=CPUset
Name[bg]=CPUset
Name[bs]=CPUset
Name[ca]=CPUset
Name[ca@valencia]=CPUset
Name[cs]=CPUset
Name[da]=CPUset
Name[de]=CPUset
Name[el]=CPUset
Name[en_GB]=CPUset
Name[eo]=CPUset
Name[es]=CPUset
Name[et]=CPUset
Name[fi]=CPUset
Name[fr]=CPUset
Name[ga]=CPUset
Name[gl]=CPUset
Name[hu]=CPUset
Name[it]=CPUset
Name[ja]=CPUset
Name[kk]=CPUset
Name[km]=CPUset
Name[ko]=CPUset
Name[lv]=CPUset
Name[nb]=CPUset
Name[nds]=CPUset
Name[nl]=CPUset
Name[nn]=CPUset
Name[pa]=CPUset
Name[pl]=CPUset
Name[pt]=CPUset
Name[pt_BR]=CPUset
Name[ro]=CPUset
Name[ru]=CPUset
Name[sk]=CPUset
Name[sq]=CPUset
Name[sr]=CPUset
Name[sr@ijekavian]=CPUset
Name[sr@ijekavianlatin]=CPUset
Name[sr@latin]=CPUset
Name[sv]=CPUset
Name[tr]=CPUset
Name[ug]=CPUset
Name[uk]=CPUset
Name[x-test]=xxCPUsetxx
Name[zh_CN]=CPUset
Name[zh_TW]=CPUset
Comment=Plasma CPUset
Comment[ast]=Plasma CPUset
Comment[bs]=Plazma CPUset
Comment[ca]=Plasma CPUset
Comment[ca@valencia]=Plasma CPUset
Comment[cs]=Plasma CPUset
Comment[da]=Plasma CPUset
Comment[de]=Plasma CPUset
Comment[el]=Plasma CPUset
Comment[en_GB]=Plasma CPUset
Comment[eo]=Plasma CPUset
Comment[es]=Plasma CPUset
Comment[et]=Plasma CPUset
Comment[fi]=Plasma CPUset
Comment[fr]=Plasma CPUset
Comment[ga]=Plasma CPUset
Comment[gl]=Plasma CPUset
Comment[hu]=Plasma CPUset
Comment[it]=Plasma CPUset
Comment[ja]=Plasma CPUset
Comment[kk]=Plasma CPUset
Comment[km]=ប្លាស្មា CPUset
Comment[ko]=Plasma CPUset
Comment[lv]=Plasma CPUset
Comment[nb]=Plasma CPUset
Comment[nds]=Plasma CPUset
Comment[nl]=Plasma CPUset
Comment[nn]=Plasma CPUset
Comment[pa]=ਪਲਾਜ਼ਮਾ CPUset
Comment[pl]=Plazma CPUset
Comment[pt]=Plasma CPUset
Comment[pt_BR]=Plasma CPUset
Comment[ro]=Plasma CPUset
Comment[ru]=Plasma CPUset
Comment[sk]=Plasma CPUset
Comment[sq]=Plasma CPUset
Comment[sr]=Плазмин CPUset
Comment[sr@ijekavian]=Плазмин CPUset
Comment[sr@ijekavianlatin]=Plasmin CPUset
Comment[sr@latin]=Plasmin CPUset
Comment[sv]=Plasma CPUset
Comment[tr]=Plasma CPUset
Comment[uk]=Плазма CPUset
Comment[x-test]=xxPlasma CPUsetxx
Comment[zh_CN]=Plasma CPUset
Comment[zh_TW]=Plasma CPUset
Type=Service
Icon=chronometer.png

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_cpuset
X-KDE-PluginInfo-Author=Tomáš Frýda
X-KDE-PluginInfo-Email=t.fryda@gmail.com
X-KDE-PluginInfo-Name=cpuset
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

